extends layout

block content
  #header
    .ring
    .circle
      p CREATE
    i.icon-down-open-big
  #three-panel.clearfix
    .panel
      #preface
        h1 Explore
        p
          | Bacon ipsum dolor sit amet spare ribs drumstick tri-tip, flank sausage leberkas prosciutto meatball. Beef capicola doner hamburger, ham hock bresaola meatball porchetta corned beef chuck pork loin turducken landjaeger. Andouille chuck boudin biltong ham, jerky filet mignon ribeye landjaeger meatball strip steak porchetta. Shoulder chicken venison chuck. Jowl swine chicken, pancetta pork loin beef tail hamburger. Spare ribs fatback cow, shankle ball tip sirloin tri-tip pork loin chicken sausage jowl shank.

    .panel
      #learn
        h1 Learn
        p
          | Bacon ipsum dolor sit amet spare ribs drumstick tri-tip, flank sausage leberkas prosciutto meatball. Beef capicola doner hamburger, ham hock bresaola meatball porchetta corned beef chuck pork loin turducken landjaeger. Andouille chuck boudin biltong ham, jerky filet mignon ribeye landjaeger meatball strip steak porchetta. Shoulder chicken venison chuck. Jowl swine chicken, pancetta pork loin beef tail hamburger. Spare ribs fatback cow, shankle ball tip sirloin tri-tip pork loin chicken sausage jowl shank.

    .panel
      #adapt
        h1 Develop
        p
          | Bacon ipsum dolor sit amet spare ribs drumstick tri-tip, flank sausage leberkas prosciutto meatball. Beef capicola doner hamburger, ham hock bresaola meatball porchetta corned beef chuck pork loin turducken landjaeger. Andouille chuck boudin biltong ham, jerky filet mignon ribeye landjaeger meatball strip steak porchetta. Shoulder chicken venison chuck. Jowl swine chicken, pancetta pork loin beef tail hamburger. Spare ribs fatback cow, shankle ball tip sirloin tri-tip pork loin chicken sausage jowl shank.

  #contact
    #contact-icons.clearfix
      a.social-icon(href="https://www.linkedin.com/in/nickalto")
        i.icon-linkedin
      a.social-icon(href="https://bitbucket.org/nickalto")
        i.icon-bitbucket
      a.social-icon(href="http://github.com/nickalto")
        i.icon-github-circled-1
      a.social-icon(href="https://dl.dropboxusercontent.com/u/1086285/resume.pdf")
        i.icon-doc-inv
      a.social-icon(href="mailto:nickalto@gmail.com")
        i.icon-mail-1
      a.social-icon(href="http://nalto.svbtle.com/")
        i.icon-diamond
  #about
    #me
      img.image-circle
      h1 Preface
      p
        | Bacon ipsum dolor sit amet spare ribs drumstick tri-tip, flank sausage leberkas prosciutto meatball. Beef capicola doner hamburger, ham hock bresaola meatball porchetta corned beef chuck pork loin turducken landjaeger. Andouille chuck boudin biltong ham, jerky filet mignon ribeye landjaeger meatball strip steak porchetta. Shoulder chicken venison chuck. Jowl swine chicken, pancetta pork loin beef tail hamburger. Spare ribs fatback cow, shankle ball tip sirloin tri-tip pork loin chicken sausage jowl shank.
        br
        br
        | Blah blah blah, blah blah blah blah blah blah, blah blah, blah blah blah blah blah.

  #footer
    p Copyright © 2014 Nick Alto
