extends layout

block content
  #header
    .ring
    .circle
      p CREATE
    i.icon-down-open-big
  #three-panel.clearfix
    .panel
      #preface
        h1 Explore
        p
          | Exploration is a huge part of what I love and hate about technology. The rate at which things are advancing is mind-blowing which makes exploration feel like drinking out of a fire hose, but extremely enlightening and rewarding given the right amount of dedication. One of the hardest parts of exploration is opening yourself to the vulnerability of not knowing everything. The only real way to truly explore is with and open mind and a humbled ego.

    .panel
      #learn
        h1 Learn
        p
          | There is a crazy amount of things to learn about. Like a staggering amount (and that's just within the scope of JavaScript frameworks). I find the more I learn the more I feel like I don't know much at all in the grand scheme of things. This leads to me never quite finding boredom, but rather always being inspired to explore and learn more. I'm kept humbled by the amount that I have yet to learn but excited by what is left for me to uncover. I strive to be the one always asking questions rather than the one always answering them.

    .panel
      #adapt
        h1 Develop
        p
          | From a perspective of software development and personal development the cycle is much the same. It's a constant cycle of building, iterating and refactoring. A process of constantly looking for new ways to improve and advance as an individual. It's a difficult balance to find multiple outlets in which to learn and grow from. Currently I find most of my inspiration from paint, pixels, code and the outdoors.

  #contact
    #contact-icons.clearfix
      a.social-icon(href="https://www.linkedin.com/in/nickalto")
        i.icon-linkedin
      a.social-icon(href="https://bitbucket.org/nickalto")
        i.icon-bitbucket
      a.social-icon(href="http://github.com/nickalto")
        i.icon-github-circled-1
      a.social-icon(href="https://dl.dropboxusercontent.com/u/1086285/resume.pdf")
        i.icon-doc-inv
      a.social-icon(href="mailto:nickalto@gmail.com")
        i.icon-mail-1
      a.social-icon(href="http://nalto.svbtle.com/")
        i.icon-diamond
  #about
    #me
      img.image-circle
      h1 Me
      p
        | My name is Nick. I'm currently a software developer at <a href="http://www.artefactgroup.com/content/person/nick-alto/"> Artefact </a>. I grew up in the Pacific Northwest in rainy Portland, OR and have since moved to the even grayer skies of Seattle, WA. In my opinion the best video game of all time is the Legend of Zelda: Ocarina of Time and the best console of all time was the Super Nintendo. If I’m not heads down working on a <a href="https://github.com/nickalto/starterpack.js" >side project in Node.js</a>, iOS or Ruby I’m typically scribbling on a canvas.
        br
        br
        | I'm somewhat of a software generalist having done work with iOS, Rails, Node.js, many JavaScript frameworks, etc. I've had the privilege of working on projects ranging from implementing I/O schedulers in the Linux kernel to creating live wallpapers that emulate the flow of bits in live silicon.

  #footer
    p Copyright © 2014 Nick Alto
