//Global colors that are easy to modify - you're welcome

$background: white;
$background-selected: lightgrey;
$background-dark: darkgrey;
$text-color: rgba(0, 0, 0, 0.5);
$header-color: #EDEDED;

$navbar-height: 45px;
$table-of-contents-width: 250px;
$line-height: 400px;

$o-black: #3C3B3B;
