@import "constants";
@import "typography";
@import "_bourbon/bourbon";
@import "_fontello/css/fontello.css";

// generic base styles
body {
	margin: 0;
	background: white;
	overflow-y:hidden;
	.hidden {
		display:none;
	}
}

a, div {
	-webkit-tap-highlight-color: transparent;
}

p, a, h1, h2, h3, span, div {
	-webkit-font-smoothing: antialiased;
	color: $o-black;
	text-decoration: none;
}

p {
	line-height: 2em;
}


//mixins
$circle-width: 250px;
$ring-width: 300px;
$ring-border-width: 6px;

@mixin ring {
	position: absolute;
	border: solid $ring-border-width $o-black;
	width: $ring-width;
	height: $ring-width;
	border-radius: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
}

@mixin ringCalc {
	top: (($ring-header-height / 2) -  ($ring-width / 2) - $ring-border-width);
}

@mixin circleCalc {
	top:(($ring-header-height / 2) - ($circle-width / 2));
}

$grid-max-width: 1000px;
$grid-margin: 6em;
@mixin updateGrid {
	#three-panel, #about, #contact-icons{
		margin: $grid-margin auto;
		max-width: $grid-max-width;
	}
}

@mixin updateSocialIcons {
	i{
		font-size: $icon-font-size;
	}
}

$panel-padding-bottom: 0em;
@mixin updatePanels {
	.panel {
		padding-bottom: $panel-padding-bottom;
		width: $panel-width;
		div {
			padding: 0 $panel-padding;
		}
	}
}

@mixin updateCircle {
	$ring-header-height: $header-height - 100;

	#header{
		height: $header-height;
	}

	.ring {
		width: $ring-width;
		height: $ring-width;
		@include ringCalc;
	}

	.circle {
		width: $circle-width;
		height: $circle-width;
		@include circleCalc;
		p {
			line-height: $circle-width;
		}
	}
}


// Custom styles
$header-height: 700px;
#header {
	position: relative;
	background: $header-color;
	i {
		position: absolute;
		bottom: 0;
		color: $o-black;
		text-align: center;
		width: 100%;
		opacity: 0.2;
	}
}

$ring-header-height: $header-height - 100;
.ring {
	@include ring;
}

.circle {
	@include ring;
	background: $o-black;
	border: none;
	p {
		text-align: center;
		margin: 0;
		color: $header-color;
		letter-spacing: 0.2em;
		font-size: 2em;
	}
}
@include updateCircle;

$img-width:150px;

.image-circle {
	@include ring;
	position:relative;
	display:inline-block;
	margin-right: 50px;
	background: url(/images/me.jpg) no-repeat center center;
	background-size: cover;
	width: $img-width;
	height: $img-width;
	float:left;
}

#wrap {
	z-index: 5;
	background: white;
}

@include updateGrid;

#me {
		padding: 0 2em;
		h1 {
			display: block;
			vertical-align:top;
		}
		p {
			vertical-align: top;
			display: inline;
		}
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.social-icon {
	width: 16.66%;
	display:inline-block;
	float:left;
	text-align: center;
	&:hover {
		i {
			opacity: 1;
		}
	}
}

$icon-font-size: 3em;
@include updateSocialIcons;
i {
	color: $header-color;
	opacity: 0.5;
	line-height:100px;
}

$panel-width: 33.33%;
$panel-padding: 3em;
@include updatePanels;

.panel {
	display:inline-block;
	float:left;
}

#contact {
	width: 100%;
	height: 100px;
	background: $o-black;
}

#footer {
	position: relative;
	height: 150px;
	width: 100%;
	background: $header-color;
	p {
		text-align: center;
		position: absolute;
		bottom: 3em;
		margin:0;
		opacity:0.5;
		width: 100%;
	}
}
